.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 20px;
    margin-bottom:-100px;
    height: 550px;
    width: 300px;
    background-color: #2a465b;
    border-radius: 8px;
}

.fuente{
    font: Impact;
    font-size: 20px;
    color: #fff;

}

a{
    text-decoration: none;
    color: #fff;
}

.btnCute,a{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: #6ca965;
    color: #fff;
}