{% extends './layout.html' %}

{% block title%}Acierto{%endblock%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='acierto.css')}}">{%endblock%}

{% block body %} 
    <div class="fondo">
        <div class="contenedor">
            <div class="fuente">
                <p>Descubriste la palabra</p>
                <p>Buen trabajo :D</p>
                <button class="btnCute">
                    <a href="/player.html">Siguiente Nivel!</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}