{% extends './layout.html' %}

{% block title%}login{%endblock%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">{%endblock%}

{% block body %} 
    <div class="fondo ">
        <div class="contenedor">
            <div class="fuente">
                <h1>Iniciar Sesión</h1>
            </div>
            <div class="inicio-input">
                <form action="/sesion" method="POST" class="inicio-input">
                    <input type="text" name="nombre" autocomplete="off" placeholder="Nombre" class="cajasTexto">
                    <input type="password" name="pass" autocomplete="off"  placeholder="Contraseña" class="cajasTexto">
                    <button class="btnCute fuente" type="submit">Conectar</button>
                </form>
            </div>
            <div>
                <p>
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {{messages}}
                    {% endif %}
                    {% endwith %}
                </p>
            </div>
                <p class="fuente">¿No tienes cuenta?
                    <div class="btnReg">
                        <button class="fuente btnCute">
                            <a href="/register.html">Registrarse</a>
                        </button>
                    </div>
                </p>
        </div>
    </div>
{% endblock %}