{% extends './layout.html' %}

{% block title%}Registrarse{%endblock%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">{%endblock%}

{% block body %} 
    <div class="fondo">
        <div class="contenedor">
            <div class="fuente">
                <h1>Registrarse</h1>
            </div>
            <div class="inicio-input">
                <form action="/register" method="POST" class="inicio-input">
                    <input type="text" name="nombre" autocomplete="off" placeholder="Nombre">
                    <input type="password" name="pass" autocomplete="off"  placeholder="Contraseña">
                    <button class="btnCute" type="submit">Registrarse</button>
                </form>
            </div>
            <div>
                <p>
                    {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {{messages}}
                    {% endif %}
                    {% endwith %}
                </p>
            </div>
            <div class="fuente btnReg">
                <p>¿Ya tienes una cuenta?
                    <div class="btnReg btnCute">
                        <button>
                            <a href="/login.html">Iniciar Sesión</a>
                        </button>
                    </div>
                </p>
            </div>
        </div>
    </div>
 
{% endblock %}